@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
}

body {
  background-color: var(--background);
}

.gradient {
  background: rgb(3, 103, 178);
  background: linear-gradient(
    0deg,
    rgba(3, 103, 178, 1) 50%,
    rgba(2, 147, 214, 1) 100%
  );
}
